GEMINI_API_KEY=AQ.Ab8RN6LjUeaOMPifR0G-w1G6su_RhscSSSgJ5AD41hUIdtAm3w
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3000/api/google/callback
TELEGRAM_BOT_TOKEN=8665156936:AAFNemg7WR1O8MbgCTd8dXenG_9zkMWUIxo
REMINDER_WINDOW_MINUTES=30
OLLAMA_EMB_MODEL=nomic-embed-text
